@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";

:root {
    --border-color: #b7b7b7;
    --hover-border-color: #404042;
    --shadow-color: #d8e1e8;
    --bg-gradient: linear-gradient(45deg, #f3f4f6, #ffffff);
}
html {
    scroll-behavior: smooth;
}
/* Layout */
body{
    @apply bg-gray-100;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv09" , "cv11";
}

.main {
    @apply min-h-screen mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 py-8;
}

/* Cards */
.card {
    @apply bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4;
    .card-title {
        @apply text-2xl font-bold mb-4 text-slate-900;
    }
}

/* Buttons */
.button {
    @apply bg-white text-slate-900 py-2 px-4 border border-slate-900 rounded hover:bg-slate-100;
}
.button-primary {
    @apply bg-slate-900 text-white py-2 px-4 rounded hover:bg-slate-800;
}
.button-lg {
    @apply text-lg py-3 px-8;
}

/* Alerts */
.alert {
    @apply border-l-4 border-slate-900 text-slate-900 bg-slate-100 p-4 my-2 text-sm sm:text-base;
}

/* Typography */
.text-accentuated {
    @apply text-blue-700 font-bold;
}
// other color
.text-accentuated-2 {
    @apply text-green-700 font-bold;
}

/* Courses */
.courses-list {
    @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8;

    .course-item {
        @apply relative bg-white shadow-md hover:border-slate-900 hover:border flex flex-col justify-between;
        .course-item-body {
            @apply px-4 pt-7 pb-3 flex flex-col justify-between;
            .course-icons {
                @apply flex justify-between items-center mb-5;
                .course-icon {
                    @apply w-8 h-8;
                }
            }
            .course-item-title {
                @apply text-base font-bold text-slate-900 mb-4;
            }
            .course-item-description {
                @apply text-sm text-gray-500 mb-2 w-full max-h-[5em] h-40 overflow-hidden;
            }
            .course-item-link {
                position: static !important;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }
        .course-item-footer {
            @apply px-4 py-2 flex justify-between items-center bg-slate-100;

            .course-author,
            .course-time {
                @apply flex gap-1 justify-between items-center text-base text-gray-500;
                span {
                    @apply text-sm;
                }
            }
        }
        border: 1px solid var(--border-color);
    }

    .course-item:hover {
        border: 1px solid var(--hover-border-color);
    }

    .course-item::after {
        transform: translate(6px, 6px);
    }

    .course-item::after,
    .course-item::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: .3s;
        background: var(--bg-gradient);
        box-shadow: 0 2px 4px var(--shadow-color);
        border: 1px solid var(--border-color);
    }
    .course-item:hover::before {
        opacity: 1;
        transform: translate(0, 0) rotate(-3deg);
    }
    .course-item:hover::after {
        transform: translate(6px, 6px) rotate(3deg);
    }
}
